.footer {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 240px;
  flex-wrap: wrap;
  @media (max-width: 650px) {
    flex-direction: row;

    flex-flow: wrap-reverse;
    margin-top: 190px;
  }
  @media (max-width: 430px) {
    margin-top: 100px;
  }
  @media (max-width: 365px) {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    @media (max-width: 650px) {
      width: 100%;
      align-items: center;
      margin-top: 50px;
    }

    .brand-block {
      display: flex;
      flex-direction: row;
      h6 {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #ffffff;
        margin: 0;
      }
      margin: 0;
      img {
        width: 24px;
        margin-right: 8px;
      }
    }
    .copyright-block {
      display: flex;
      flex-direction: row;
      margin: 0;
      margin-top: 16px;
      p {
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;

        color: #ffffff;
        @media (max-width: 430px) {
          font-size: 10px;
        }
      }
    }
  }
  .footer-middle {
    li {
      list-style: none;
      font-weight: 400;
      font-size: 17px;
      line-height: 26px;
      letter-spacing: 0.0571015px;
      color: #ffffff;
      margin: 0;
      margin-bottom: 15px;
      @media (max-width: 430px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .footer-right {
    li {
      list-style: none;
      font-weight: 400;
      font-size: 17px;
      line-height: 26px;
      letter-spacing: 0.0571015px;
      color: #ffffff;
      margin: 0;
      margin-bottom: 15px;
      @media (max-width: 430px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
