.questions {
  padding-top: 100px;
  .questions-title {
    // margin-top: 252px;
    @media (max-width: 430px) {
      margin-top: 100px;
    }
    h2 {
      margin: 0;
      font-weight: 400;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      color: #ffffff;
      @media (max-width: 430px) {
        font-size: 32px;
      }
    }
    p {
      margin: 0;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
      margin-top: 10px;
      @media (max-width: 430px) {
        font-size: 16px;
      }
    }
  }
  .questions-list {
    margin: 0;
    width: fit-content;
    margin-left: 100px;
    margin-top: 64px;
    @media (max-width: 850px) {
      margin-left: 0;
    }
    li {
      .extra {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 850px) {
          width: 5%;
        }
      }
      .circle {
        background-color: aquamarine;
        width: 21px;
        height: 21px;
        background: #13151b;
        border-radius: 100px;
        margin-right: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 11.83px;
        }
        @media (max-width: 430px) {
          width: 16px;
          height: 16px;
          margin-top: 10px;
        }
      }
      display: flex;
      flex-direction: row;
      span {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #ffffff;
        margin-bottom: 32px;
        @media (max-width: 850px) {
          width: 95%;
        }
        @media (max-width: 430px) {
          font-size: 16px;
          line-height: 25px;
        }
      }
    }
  }
}
