//body styles
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import "./_header", "./_welcome-screen", "./_examples", "./_desingned",
  "./_reviews", "./_payment", "./_questions", "./_footer";

body {
  margin: 0;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  background-color: rgba(8, 9, 13);
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: context-menu;
}

.container {
  max-width: 1200px;

  background-color: rgba(8, 9, 13, 0.8);
  margin: 0 auto;
  padding: 0 20px;
}
