<div class="examples">
  <div class="examples-header">
    <h2>High-quality videos - no edit skills needed</h2>
    <p>
      Things you had to do in video software are done automatically by Screen
      Studio.
    </p>
  </div>
  <div class="examples-table">
    <div class="example-wrapper">
      <div class="preview">
        <div class="circle">
          <img
            src="../../assets/images/play-icon.png"
            alt="play-icon"
            srcset=""
          />
        </div>
      </div>
      <h4>Smooth cursor movement</h4>
      <p>
        All shakiness of the mouse cursor is removed giving an instant
        studio-quality feel.
      </p>
    </div>
    <div class="example-wrapper right-item">
      <div class="preview">
        <div class="circle">
          <img
            src="../../assets/images/play-icon.png"
            alt="play-icon"
            srcset=""
          />
        </div>
      </div>
      <h4>Zoom & follow mouse clicks</h4>
      <p>
        Pick parts of the video you want to focus on the mouse actions and
        Screen Studio will create all the animations.
      </p>
    </div>
    <div class="example-wrapper">
      <div class="preview">
        <div class="circle">
          <img
            src="../../assets/images/play-icon.png"
            alt="play-icon"
            srcset=""
          />
        </div>
      </div>
      <h4>Cinematic motion blur</h4>
      <p>
        Every moving piece of the animation will have motion blur applied,
        making the video feel more smooth and perceived FPS higher.
      </p>
    </div>
    <div class="example-wrapper right-item">
      <div class="preview">
        <div class="circle">
          <img
            src="../../assets/images/play-icon.png"
            alt="play-icon"
            srcset=""
          />
        </div>
      </div>
      <h4>Wallpaper & window frame</h4>
      <p>
        Background padding adds breadth to your video. When publishing to social
        media - videos will feel less busy and noisy.
      </p>
    </div>
    <div class="example-wrapper">
      <div class="preview big">
        <div class="circle">
          <img
            src="../../assets/images/play-icon.png"
            alt="play-icon"
            srcset=""
          />
        </div>
      </div>
      <h4>Change layout and cursor</h4>
      <p>
        Record iPhone simulator on your Mac and crop it - all animations will be
        adjusted automatically. Change your cursor and your mobile app demo is
        ready.
      </p>
    </div>
    <div class="example-wrapper right-item">
      <div class="preview big">
        <div class="circle">
          <img
            src="../../assets/images/play-icon.png"
            alt="play-icon"
            srcset=""
          />
        </div>
      </div>
      <h4>Automatic size balancing</h4>
      <p>
        With one click you can switch horizontal/vertical/square output size and
        all animations will be re-calculated. It is great for publishing on
        platforms like Instagram, TikTok, etc.
      </p>
    </div>
    <div class="example-wrapper empty">
      <div class="alert">
        <span>Not ready yet</span>
      </div>
      <h4>Selfie Camera support</h4>
      <p>
        Record yourself and switch between you, the screen, or both at once -
        with amazing animations.
      </p>
    </div>
    <div class="example-wrapper empty">
      <div class="alert">
        <span>Not ready yet</span>
      </div>
      <h4>Full screen slides & Click description</h4>
      <p>
        Add introductions, pauses, or click labels to explain what happens on
        the screen.
      </p>
    </div>
  </div>
</div>
