<div class="header">
  <div class="header-logo">
    <img
      src="../../assets/images/header-logo.png"
      alt="header-logo"
      srcset=""
    />

    <a href="#welcome-screen">Screen Studio</a>
  </div>
  <div class="header-nav">
    <li><a href="#preview">Preview</a></li>
    <li><a href="#reviews">Reviews</a></li>
    <li><a href="#pricing">Pricing</a></li>
    <li><a href="#questions">Questions</a></li>
    <button>Download</button>
  </div>
  <div class="hamburger">
    <div class="menu-btn">
      <span class="rule"></span>
      <span class="rule"></span>
      <span class="rule"></span>
    </div>
    <div class="menu">
      <nav>
        <ul>
          <li><a href="#preview">Preview</a></li>
          <li><a href="#reviews">Reviews</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#questions">Questions</a></li>
          <button>Download</button>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- </div> -->
