<div class="payment" id="pricing">
  <div class="payment-title">
    <h1>Pay once, use forever</h1>
    <p>
      Screen Studio is a one-time purchase. You get all the features in every
      plan.
    </p>
  </div>
  <div class="payment-wrapper">
    <div class="payment-block standart">
      <div class="payment-block__header">
        <h3>Standart</h3>
        <h1>$89</h1>
        <p>Pay-once license for you.</p>
      </div>

      <ul class="description">
        <li>
          <img src="../../assets/images/list-style.png" alt="list-style" />1
          macOS device
        </li>
        <li>
          <img src="../../assets/images/list-style.png" alt="list-style" />Pay
          once, use forever
        </li>
        <li>
          <img src="../../assets/images/list-style.png" alt="list-style" />All
          Screen Studio features
        </li>
        <li>
          <img src="../../assets/images/list-style.png" alt="list-style" />1
          year of updates
        </li>
      </ul>
      <button>Get Started</button>
    </div>
    <div class="payment-block extended">
      <div class="payment-block__header">
        <h3>Extended</h3>
        <h1>$139</h1>
        <p>Great for multi-devices setups & small teams.</p>
      </div>

      <ul class="description">
        <li>
          <img src="../../assets/images/list-style.png" alt="list-style" />3
          macOS devices
        </li>
        <li>
          <img src="../../assets/images/list-style.png" alt="list-style" />Pay
          once, use forever
        </li>
        <li>
          <img src="../../assets/images/list-style.png" alt="list-style" />All
          Screen Studio features
        </li>
        <li>
          <img src="../../assets/images/list-style.png" alt="list-style" />1
          year of updates
        </li>
      </ul>
      <button>Get Started</button>
    </div>
    <div class="payment-block teams">
      <div class="payment-block__header">
        <h3>Teams</h3>
        <h1>Get in touch</h1>
        <p>Pay per seat for your team.</p>
      </div>

      <ul class="description">
        <li>
          <img
            src="../../assets/images/list-style.png"
            alt="list-style"
          />Unlimited macOS devices
        </li>
        <li>
          <img src="../../assets/images/list-style.png" alt="list-style" />All
          Screen Studio features
        </li>
        <li>
          <img src="../../assets/images/list-style.png" alt="list-style" />App
          updates during the subscription
        </li>
      </ul>
      <button>Get Started</button>
    </div>
  </div>
</div>
