<div class="questions">
  <div class="questions-title">
    <h1>Questions & Answers</h1>
    <h4>If you have any other questions - please get in touch</h4>
  </div>
  <ul class="questions-list">
    <li>
      <div class="circle">
        <img src="../../assets/images/check-mark.png" alt="check-mark" />
      </div>
      How is Screen Studio different from other screen recording apps?
    </li>
    <li>
      <div class="circle">
        <img src="../../assets/images/check-mark.png" alt="check-mark" />
      </div>
      Is Windows version ready?
    </li>
    <li>
      <div class="circle">
        <img src="../../assets/images/check-mark.png" alt="check-mark" />
      </div>
      Is there an educational discount?
    </li>
    <li>
      <div class="circle">
        <img src="../../assets/images/check-mark.png" alt="check-mark" />
      </div>
      What features will be added in the future?
    </li>
    <li>
      <div class="circle">
        <img src="../../assets/images/check-mark.png" alt="check-mark" />
      </div>
      Can I record voiceover or selfie-camera?
    </li>
    <li>
      <div class="circle">
        <img src="../../assets/images/check-mark.png" alt="check-mark" />
      </div>
      Can I get a refund if I don't like it?
    </li>
  </ul>
</div>
