<div class="questions">
  <div class="questions-title">
    <h2>Questions & Answers</h2>
    <p>If you have any other questions - please get in touch</p>
  </div>
  <ul class="questions-list">
    <li>
      <div class="circle">
        <img src="../../assets/images/check-mark.png" alt="check-mark" />
      </div>

      <span
        >How is Screen Studio different from other screen recording apps?</span
      >
    </li>
    <li>
      <div class="circle">
        <img src="../../assets/images/check-mark.png" alt="check-mark" />
      </div>
      <span>Is Windows version ready?</span>
    </li>
    <li>
      <div class="circle">
        <img src="../../assets/images/check-mark.png" alt="check-mark" />
      </div>
      <span>Is there an educational discount?</span>
    </li>
    <li>
      <div class="circle">
        <img src="../../assets/images/check-mark.png" alt="check-mark" />
      </div>
      <span>What features will be added in the future?</span>
    </li>
    <li>
      <div class="circle">
        <img src="../../assets/images/check-mark.png" alt="check-mark" />
      </div>
      <span>Can I record voiceover or selfie-camera?</span>
    </li>
    <li>
      <div class="circle">
        <img src="../../assets/images/check-mark.png" alt="check-mark" />
      </div>
      <span>Can I get a refund if I don't like it?</span>
    </li>
  </ul>
</div>
