<div class="reviews">
  <div class="reviews-title">
    <h3>Meet Screen Studio users</h3>
    <p>
      Screen Studio empowers people to quickly create beautiful videos of their
      products and services.
    </p>
  </div>

  <div class="review-wrapper">
    <div class="reviews-wrapper-left">
      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-1.png" alt="" />
          <div class="left">
            <span class="name">René Brandel</span>
            <span class="nickname">@renebrandel</span>
          </div>
        </div>
        <div class="bottom">
          <p>
            The best $89 I spent in the last week is buying a license for It
            makes you an instant DIY promo video production company! Thanks
            @pie6k
          </p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-2.png" alt="" />
          <div class="left">
            <span class="name">Martin Harrisson</span>
            <span class="nickname">@mharrisson101</span>
          </div>
        </div>
        <div class="bottom">
          <p>
            @pie6k Just downloaded it. That's f*cking insane. Congrats. Super
            easy to use and amazing results!
          </p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-3.png" alt="" />
          <div class="left">
            <span class="name">No I Diaz 🤷🏻</span>
            <span class="nickname">@ded</span>
          </div>
        </div>
        <div class="bottom">
          <p>
            from @pie6k! This screen recorder is truly a game changer for
            creating delightful demos!
          </p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-4.png" alt="" />
          <div class="left">
            <span class="name">Yassine Zeriouh</span>
            <span class="nickname">@xyassini</span>
          </div>
        </div>
        <div class="bottom">
          <p>
            Get ready for me absolutely overusing Screen Studio by @pie6k 👀
          </p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-5.png" alt="" />
          <div class="left">
            <span class="name">Sukh - Programmatic SEO guy⚡️</span>
            <span class="nickname">@thisissukh_</span>
          </div>
        </div>
        <div class="bottom">
          <p>screen recordings look amaazing! 🌟✨</p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-6.png" alt="" />
          <div class="left">
            <span class="name">Ismail Pelaseyed</span>
            <span class="nickname">@pelaseyed</span>
          </div>
        </div>
        <div class="bottom">
          <p>@pie6k Best thing ever, saved me half a day!</p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-7.png" alt="" />
          <div class="left">
            <span class="name">cn80</span>
            <span class="nickname">@cn8011</span>
          </div>
        </div>
        <div class="bottom">
          <p>
            @pie6k This is awesome, charge double plz! This is far more useful
            than Camtasia & other screen recorders.
          </p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-8.png" alt="" />
          <div class="left">
            <span class="name">Andrew Daniels 💜</span>
            <span class="nickname">@design_nocodeio</span>
          </div>
        </div>
        <div class="bottom">
          <p>@pie6k Wow I also love this! Buying the pro version today!</p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-9.png" alt="" />
          <div class="left">
            <span class="name">Alfred Lua</span>
            <span class="nickname">@alfred_lua</span>
          </div>
        </div>
        <div class="bottom">
          <p>
            @pie6k Congrats! Screen Studio looks cool! I have been doing a lot
            of screen recording and video making (with ScreenFlow mostly because
            I am familiar with it and paid for an upgraded license recently).
          </p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-10.png" alt="" />
          <div class="left">
            <span class="name">Gil Greenberg 🛒</span>
            <span class="nickname">@gilgNYC</span>
          </div>
        </div>
        <div class="bottom">
          <p>
            @pie6k Love it! Just bought a license. Ps: would love a way to crop
            out the browser header somehow.
          </p>
        </div>
      </div>
    </div>

    <div class="reviews-wrapper-right">
      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-11.png" alt="" />
          <div class="left">
            <span class="name">👀 allworknosleep</span>
            <span class="nickname">@allworknosleep</span>
          </div>
        </div>
        <div class="bottom">
          <p>
            I have been looking for a screen recording app like for a while now.
            Came across @pie6k and his work the other day, which is top-notch.
            Love the transparency and know it's only gonna get better from here!
          </p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-8.png" alt="" />
          <div class="left">
            <span class="name">Andrew Daniels 💜</span>
            <span class="nickname">@design_nocodeio</span>
          </div>
        </div>
        <div class="bottom">
          <p>
            @pie6k just downloaded #screenstudio and already sort of love it!
            Def. using it for screen recordings of @flutterflow so awesome!
          </p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-13.png" alt="" />
          <div class="left">
            <span class="name">Brendin Venter</span>
            <span class="nickname">@VenterBrendin</span>
          </div>
        </div>
        <div class="bottom">
          <p>
            @pie6k Hey Adam just want to say it looks incredible thank you been
            looking for a tool like yours for years! My desktop and main driver
            is windows. That’s quite a way out isn’t it? Otherwise all good will
            use on my Mac. 👏👌
          </p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-1.png" alt="" />
          <div class="left">
            <span class="name">René Brandel</span>
            <span class="nickname">@renebrandel</span>
          </div>
        </div>
        <div class="bottom">
          <p>@pie6k The rate of updates to https://screen.studio</p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-14.png" alt="" />
          <div class="left">
            <span class="name">Bala</span>
            <span class="nickname">@Pranavbala2</span>
          </div>
        </div>
        <div class="bottom">
          <p>
            by @pie6k. It is a rewarding experience 😍 Screen recording for
            guides and simple bug reports is going to be a cake walk here
            onwards. Truly a service to mankind. Really looking forward to all
            the new updates and changes.
          </p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-10.png" alt="" />
          <div class="left">
            <span class="name">Gil Greenberg 🛒</span>
            <span class="nickname">@gilgNYC</span>
          </div>
        </div>
        <div class="bottom">
          <p>
            @pie6k Amazing! Going to start using Screen studio for all my
            Twitter demos. Excited :)
          </p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-15.png" alt="" />
          <div class="left">
            <span class="name">Kenneth Frimpong {Kwasi XR} 👓</span>
            <span class="nickname">@techziward</span>
          </div>
        </div>
        <div class="bottom">
          <p>@pie6k This is an amazing software 👏🏾 good job!</p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-16.png" alt="" />
          <div class="left">
            <span class="name">Rafal Wilinski</span>
            <span class="nickname">@rafalwilinski</span>
          </div>
        </div>
        <div class="bottom">
          <p>@pie6k This is *exactly* what I was looking for, thanks.</p>
        </div>
      </div>

      <div class="review-container">
        <div class="top">
          <img src="../../assets/images/users/user-17.png" alt="" />
          <div class="left">
            <span class="name">Ibrahim 🚀</span>
            <span class="nickname">@Ibralassaf</span>
          </div>
        </div>
        <div class="bottom">
          <p>
            @pie6k I Just tried it and the experience was amazing and smooth 🚀
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews-footer">
    <p>
      If you are one of the people quoted above and would like to have your
      testimonial removed, please get in touch and I will remove it instantly.
    </p>
  </div>
</div>
